APP_ENV=local
APP_SYSTEM=windows
APP_DEBUG=true
APP_KEY=sTut9Sq3kPjcS1exfaNFwV1Z4h4ZkxiU
APP_LOG_LEVEL=debug
APP_URL=http://ekohub.test
APP_NAME=ecohub
APP_VERSION=v1.0.0
APP_COLOR=2376dc

DB_HOST=127.0.0.1
DB_DATABASE=ekohub
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

API_STANDARDS_TREE=x
API_NAME=API
API_DEBUG=true
API_PREFIX=api
API_VERSION=v1

FILESYSTEM=local
AWS_KEY=your_aws_access_key_here
AWS_SECRET=your_aws_secret_key_here
AWS_REGION=us-east-1
AWS_BUCKET=mimg

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

MAIL_DRIVER=ses
MAIL_HOST=email-smtp.us-east-1.amazonaws.com
MAIL_PORT=587
MAIL_USERNAME=your_aws_ses_smtp_username
MAIL_PASSWORD=your_aws_ses_smtp_password
MAIL_ENCRYPTION=tls
MAIL_ADDRESS=notifications@solumails.com

MAIL_DOMAIN=mailgun.solumails.com
MAIL_SECRET=key-e7a28f90f721a922da597cecce6ba6e4

AWS_SES_KEY=your_aws_ses_key_here
AWS_SES_SECRET=your_aws_ses_secret_here

PAYPAL_CLIENT_ID=your_paypal_client_id_production
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_production

GOOGLE_CLOUD_API=AIzaSyAxE7KpwhjRW0qS0k7vHgsMki3ll3k6OEE
HUBSPOT_API_KEY=3573b307-4d93-409e-958f-4ab5a0dfcbff
NOCAPTCHA_SITEKEY=6Lchfz4UAAAAAHPZS3bDr6ljpdX7e59H1tt_mXBZ
NOCAPTCHA_SECRET=6Lchfz4UAAAAAAWWVROc--ti6TAc_WiQyGS49WXE
FROALA_KEY=VpC-13xplxI2xxh==