//
// Offsets
// --------------------------------------------------

$medias: (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl);

// Insets
// -------------------------

$insets: (0, 10px,13px,18px,32px,35px,45px,50px);

@include indent-responsive(inset, left, padding-left, $medias, $insets);
@include indent-responsive(inset, right, padding-right, $medias, $insets);


// Elements
// -------------------------


// Grid
// -------------------------


// Sections
// -------------------------


// Responsive
// -------------------------

$offsets: (0, 4px, 10px,16px,23px,25px,30px,35px,38px,42px,52px,56px,60px,65px,70px,80px,83px,97px,125px,162px,200px,693px,-35px,-80px,-580px,-694px);

html .page{
  @include indent-responsive(offset, top, margin-top, $medias, $offsets);
}
